*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/* СТИЛИ КНОПОК */

.button {
  height: 34px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  background-color: transparent;
  border: 1px solid #fff;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active.button:hover{
  background-color: #545050;
  text-decoration: none;
  cursor: default;
}

.button:hover {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  align-self: end;
}

.more-button {
  /* СДЕЛАТЬ КНОПКУ ВО ВСЮ ШИРИНУ КОНТЕЙНЕРА */
  margin: 0 3px 2px 2px;
  padding: 7px 0;
}

/* БЕЗ ПАДДИНГОВ КНОПКА СХЛОПЫВАЕТСЯ КАК-БУДТО ПОД "ВЕСОМ"
БЛОКА СВЕРХУ, ПОТОМУ ЧТО ЕСЛИ УБРАТЬ ФИКС. ВЫСОТУ,
ТО КНОПКА ВЕРНЕТСЯ К НОРМАЛЬНОМУ РАЗМЕРУ */

/* Основные стили */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  width: 1140px;
  display: grid;
  gap: 30px;
  margin: 133px 30px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas: "result result result result result result content__details content__details content__details content__details";
}

.result {
  grid-area: result;
  align-self: end;
}

.result__video-container {
  margin-bottom: 16px;
  position: relative;
  /* width: 711px;  ОНО НЕ ОТТАЛКИВАЕТ ВТОРУЮ КОЛОНКУ, РЕШУ ПОЗЖЕ
  height: 386px; */
}

.result__video {
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset-title {
  font-weight: inherit;
  font-size: inherit;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__label:has(:focus-visible) {
  outline: solid 1px #fff;
  outline-offset: 1px;
}

.search-form__label-text {
  font-weight: inherit;
  font-size: inherit;
  padding-left: 5px; /* СДЕЛАЛ ОСТУП ЗДЕСЬ, ЧТОБЫ ПРИ НАВЕДЕНИИ НА ПРОМЕЖУТОК МЕЖДУ ЧЕКБОКСОМ И ТЕКСТОМ НЕ ПРОПАДАЛ ЭФФЕКТ HOVER */
}

.search-form__textfield {
  width: 225px;
  background-color: transparent;
  padding: 0;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  opacity: 0.7;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: none;
  border-left: none;
  line-height: 100%;
  padding: 2px 0 2px 0;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
  cursor: default;
}

.search-form__label:active {
  outline: none;
}

.search-form__label:active .search-form__label-text:hover {
  text-decoration: none;
  cursor: default;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  align-items: center;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin: 1.5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after{
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::after{
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__pseudo-checkbox:active.search-form__pseudo-checkbox:hover {
  text-decoration: none;
  cursor: default;
}

.search-form__pseudo-checkbox:hover {
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

.content__details {
  grid-area: content__details;
  justify-content: stretch;
  max-height: 534px;
}

.title {
  margin: 0 140px 26px 0;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  height: 297px; /*Здесь нужно будет подогнать высоту после стилизации*/
  overflow-y: scroll; 
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 390px;
  position: relative;
}

/* FLEX У КОНТЕЙНЕРА ЗАДАЛ, ЧТОБЫ РАСТЯНУТЬ КНОПКУ ПО ШИРИНЕ */

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 3px;
}

.content__list-item:active .content__video-card:hover > *{
  text-decoration: none;
  cursor: default;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__card-link:hover .content__video-card-description-container {
  text-decoration: underline;
  /* text-underline-position: under; */
  cursor: pointer;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card:active {
  cursor: default;
  background-color: #545050;
}

.content__video-card:has(:focus-visible) {
  outline: solid 1px #fff;
}

.content__video-card-description-container {
  width: 196px; /* ЗАДАЛ ФИКС. ШИРИНУ КОНТЕЙНЕРУ С ОПИСАНИЕМ, ПОТОМУ ЧТО ИНАЧЕ НЕ РБОТАЕТ ПЕРЕПОЛНЕНИЕ */
  flex-grow: 1;
  float: left;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  width: 196px;
  line-height: 16.2px;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* ТУТ ВООБЩЕ ПЕСНЯ, ПОТОМУ ЧТО БЕЗ OVERFLOW:HIDDEN; НЕ РАБОТАЕТ
LINE CLAMP, НО OVERFLOW ОБРЕЗАЕТ НИЖНЮЮ ЧАСТЬ ПОСЛЕДНЕЙ СТРОКИ И
ТУТ ВОЗНИКАЕТ ДИЛЕММА: КОГДА БЕЗ text-underline-position: under;
ПОДЧЕРКИВАНИЕ ОТОБРАЖЕТСЯ НЕ ОЧЕНЬ КОРРЕКТНО, НО С text-underline-position: under
ЕГО ВООБЩЕ НЕ БУДЕТ*/

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: contain;
  object-position: center;
}
